* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 1.6rem;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

button {
    background-color: transparent;
    border: none;
    font: inherit;
}

.hide {
    display: none !important;
}

.hidden {
    opacity: 0 !important;
}
