* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

html {
    overflow: hidden;
    font-size: 62.5%;
}

body { 
    box-sizing: border-box;
    font-size: 1.6rem;
}

button {
    background-color: transparent;
    border: none;
    font: inherit;
}